<form name="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
      <span ng-show="!ctrl.user.id" translate>Add a new user</span>
      <span ng-show="ctrl.user.id" translate>Edit user</span>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="alert alert-danger" ng-if="addError" translate>Could not add user!</div>
          <formly-form model="ctrl.user" fields="ctrl.formFields" options="ctrl.formOptions"></formly-form>
        </div>
      </div>
      <div class="controls">
        <button type="submit" class="btn btn-primary btn-success" ng-click="ctrl.submit()" ng-disabled="form.$invalid">
          Submit
        </button>
        <button type="button" class="btn btn-default" ng-click="ctrl.formOptions.resetModel()">Reset</button>
      </div>
    </div>
  </div>
</form>
