<div class="row">
  <div class="col-md-6 offset-md-3">
    <ui-card>
      <ui-card-header>
        <i class="icon-wrench"></i>
        &nbsp; Development
      </ui-card-header>
      <ui-card-content>
        Colmena Development Index
      </ui-card-content>
    </ui-card>
  </div>
</div>


<div class="row">
  <div class="col-md-8 offset-md-2">
    <app-dev-alert></app-dev-alert>
  </div>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <app-dev-toast></app-dev-toast>
  </div>
</div>



