{
  "extends": "standard",
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "padded-blocks": 0,
    "prefer-arrow-callback": [
      "error",
      {
        "allowNamedFunctions": true
      }
    ],
    "prefer-template": 1
  }
}
