{
  "extends": "standard",
  "rules": {
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "operator-linebreak": [
      "error",
      "after"
    ],
    "padded-blocks": "off"
  }
}
