<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="{{service.icon}}"></i>
      {{service.title}}
    </div>
    <div class="card-block">
      <table class="table table-bordered" *ngIf="service.item">
        <tr *ngFor="let field of service.fields">
          <th>{{field}}</th>
          <td>{{service.item[field]}}</td>
        </tr>
      </table>
    </div>
    <div class="card-footer">
      <div class="pull-right">
        <a [routerLink]="['edit']" class="btn btn-sm btn-outline-success">Edit</a>
        <a [routerLink]="['..']" class="btn btn-sm btn-outline-info">Cancel</a>
      </div>
    </div>
  </div>
</div>
