<body style="font-family:Arial, Helvetica, sans-serif; color: #777777; margin: 0px; padding: 0px; ">
<table width="100%" cellpadding="0" cellspacing="0" style="border: none;">
  <tr>
    <td style="padding: 25px 25px; color: #454545;">
      <h1 style="font-weight: normal; font-size: 24px; letter-spacing: 1px; margin: 0; padding: 0; color: #454545">
        Hi {{firstName}},
      </h1>
      <p>We have received a request to reset your password.</p>
      <p>Please click <a href="{{resetPasswordUrl}}">this link</a> to reset your password.</p>
      <p>If you did not request this email you can simply ignore it.</p>
      <p>Kind regards,</p>
      <p>{{domainName}}</p>
    </td>
  </tr>
  <tr>
    <td style="color: #9B9B9B; font-size: 12px; padding: 1.5em; text-align: center;">
      <p>Click the link above to change the password, or use the following link: <a href="{{resetPasswordUrl}}">{{resetPasswordUrl}}</a></p>
      <p style="margin-top: 1.5em">If you have any questions, or to get help, please contact us at <a href="mailto:{{domainEmail}}">{{domainEmail}}</a></p>
    </td>
  </tr>
</table>
