<div class="panel panel-default">
  <div class="panel-heading">
    Add Item
    <span class="pull-right">
      <a ui-sref="app.browser.models.items({ modelName: items.model.name })" class="btn btn-xs btn-default">Close</a>
    </span>
  </div>
  <div class="panel-body">
    <form ng-submit="add.submit()">
      <formly-form model="add.item" fields="add.itemFields">
        <button type="submit" class="btn btn-default">Submit</button>
        <a ui-sref="app.browser.models.items({ modelName: items.model.name})" class="btn btn-default">Cancel</a>

      </formly-form>
    </form>
  </div>
</div>
