<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
            <span ng-show="!page.id">Add a new page</span>
            <span ng-show="page.id">Edit page</span>
        </h3>
        <div class="box-tools pull-right">
        </div>
    </div>
    <div class="box-body" style="min-height: 150px;">
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-danger" ng-if="addError">Could not add page!</div>
                <formly-form result="page" fields="formFields" options="formOptions"></formly-form>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="controls">
            <button class="btn btn-primary btn-success" ng-click="onSubmit()">Submit</button>
            <button class="btn btn-default" ng-click="reset()">Cancel</button>
        </div>
    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>
