<div class="box">
    <div class="box-header">
        <h3 class="box-title">
            <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i> <span translate>Pages</span></a>
            {{page.name}}
        </h3>

        <div class="box-tools pull-right">
          <span class="pull-right btn-group">
            <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: page.id})">
                <i class="fa fa-pencil"></i>
            </a>
            <a href="" class="btn btn-sm btn-default" ng-click="delete({id: page.id})">
                <i class="fa fa-trash-o"></i>
            </a>
          </span>
        </div>
    </div>
    <div class="box-body">
        <div btf-markdown="page.content"></div>
    </div>
    <div ng-if="loading" class="overlay"></div>
    <div ng-if="loading" class="loading-img"></div>
</div>
