<div class="card">
  <form (submit)="submit">
    <div class="card-header">
      <i class="{{service.icon}}"></i>
      <span *ngIf="service.item.id">Edit</span>
      <span *ngIf="!service.item.id">Add</span>
    </div>
    <div class="card-block">
      <ui-form [config]="service.formConfig" [item]="service.item"></ui-form>
    </div>
    <div class="card-footer">

      <div class="float-xs-right">
        <button type="submit" class="btn btn-sm btn-outline-success">
          <span *ngIf="service.item.id">Update</span>
          <span *ngIf="!service.item.id">Add</span>
        </button>

        <a [routerLink]="['..']" class="btn btn-sm btn-outline-info">
          Cancel
        </a>
      </div>
    </div>
  </form>
</div>
