<h4>
  <a href="" ui-sref="^.list" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  <span ng-show="!category.id" translate>Add a new category</span>
  <span ng-show="category.id" translate>Edit category</span>
</h4>
<div class="row">
  <div class="col-md-4">
    <div class="alert alert-danger" ng-if="addError" translate>Could not add category!</div>
    <formly-form result="category" fields="formFields" options="formOptions" ng-submit="onSubmit()"></formly-form>
  </div>
</div>
<div class="controls">
    <button class="btn btn-primary btn-success" ng-click="onSubmit()" translate>Submit</button>
</div>
