.full-height {
    height: 100%;
}
.small-box{
  cursor: pointer;
}
.at-view-fade-in.ng-enter {
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  opacity: 0;
}

.at-view-fade-in.ng-enter-active {
  opacity: 1;
}

.at-view-fade-out.ng-leave {
  display: none;
}

.at-view-fade-out.ng-leave-active {
  opacity: 0;
}
