
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar-default a.navbar-brand {
  border: 2px solid black;
  border-radius: 4px;
  background: gold;
  font-family: courier;
  letter-spacing: 5px;
  color: black;
  line-height: 16px;
  padding-left: 18px;
}

.navbar-default a.navbar-brand:hover {
  background: #D4AF37;
  color: white;
}

.navbar {
  margin-bottom: 20px;
}

.page-header {
  margin: 0px 0 20px;
  padding-bottom: 20px;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input {
  margin: 10px 0px;
}
.form-signin input[type="checkbox"] {
  margin: 4px 0 0 -20px;
}
