<!-- Static navbar -->
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{appName}}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in menuoptions"><a href="" ui-sref="{{item.sref}}">{{item.name}}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">{{currentUser.firstName}} {{currentUser.lastName}}</a></li>
        <li ng-repeat="item in toplinks"><a href="" ng-click="item.action()">{{item.name}}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</div>
