<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Events
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th>Name</th>
              <th>Date</th>
              <th>Location</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let event of events | async">
              <td>{{event.name}}</td>
              <td>{{event.date}}</td>
              <td>{{event.location}}</td>
              <td>
                <button (click)="select(event)" class="btn btn-sm btn-outline-primary">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button (click)="remove(event)" class="btn btn-sm btn-outline-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <form (submit)="upsert()">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>
            <span *ngIf="event.id">Edit</span>
            <span *ngIf="!event.id">Add</span>
            Event
          </div>
          <div class="card-block">
            <div class="form-group">
              <label for="eventName">Name</label>
              <input type="text"
                     id="eventName"
                     class="form-control"
                     name="eventName"
                     [(ngModel)]="event.name"
                     placeholder="Name"/>
            </div>

            <div class="form-group">
              <label for="eventDate">Date</label>
              <input type="text"
                     id="eventDate"
                     class="form-control"
                     name="eventDate"
                     [(ngModel)]="event.date"
                     placeholder="Date"/>
            </div>

            <div class="form-group">
              <label for="eventLocation">Location</label>
              <input type="text"
                     id="eventLocation"
                     class="form-control"
                     name="eventLocation"
                     [(ngModel)]="event.location"
                     placeholder="Location"/>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-outline-success">
              <i class="fa fa-dot-circle-o"></i>
              <span *ngIf="event.id">Update</span>
              <span *ngIf="!event.id">Add</span>
            </button>
            <button (click)="new()" *ngIf="event.id" class="btn btn-sm btn-outline-info">
              <i class="fa fa-crosshairs"></i>
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
