<nav class="navbar navbar-static-top" role="navigation">
  <a href="" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" ng-click="toggleSidebar()" role="button">
    <span class="sr-only" translate>Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <div class="navbar-right">
    <ul class="nav navbar-nav">
      <li class="dropdown tasks-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-microphone"></i>
          <!-- <span class="label label-danger">9</span> -->
        </a>
        <ul class="dropdown-menu">
          <!-- <li class="header">You have {{ langs.length }} languages</li> -->
          <li>
            <!-- inner menu: contains the actual data -->
            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
              <li ng-repeat="(index, lang) in langs"><!-- Task item -->
                <a ng-click="setLang(index)">
                  <h3> {{lang }}</h3>
                </a>
              </li><!-- end task item -->
            </ul>
          </li>
        </ul>
      </li>
      <li class="dropdown user user-menu">
        <a href="" class="dropdown-toggle" data-toggle="dropdown">
          <i class="glyphicon glyphicon-user"></i>
          <span>{{currentUser.firstName}} {{currentUser.lastName}} <i class="caret"></i></span>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header bg-light-blue">
            <img gravatar-src-once="currentUser.email" class="img-circle" alt="User Image">
            <p>
              {{currentUser.firstName}} {{currentUser.lastName}}
              <small>{{currentUser.email}}</small>
            </p>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <a ui-sref="app.users.profile" href="#" class="btn btn-default btn-flat" translate>Profile</a>
            </div>
            <div class="pull-right">
              <a ng-click="logout()" href="#" class="btn btn-default btn-flat" translate>Sign out</a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
