<section class="content-header">
  <div class="pull-right">
  </div>
  <h1>
    Home
    <small>Welcome home, this is AngularJS!</small>
  </h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <tabset class="nav-tabs-custom">
        <tab heading="Dashboard">
          <div class="row">
            <small-box title="Posts" color="bg-red" icon="ion-document-text" quantity="{{ count.posts }}" href="app.posts.list"></small-box>
            <small-box title="Files" color="bg-green" icon="ion-paperclip" quantity="{{ count.files }}" href="app.files.list"></small-box>
            <small-box title="Pages" color="bg-yellow" icon="ion-document" quantity="{{ count.pages }}" href="app.pages.list"></small-box>
            <small-box title="Events" color="bg-aqua" icon="ion-calendar" quantity="{{ count.events }}" href="app.events.list"></small-box>
            <small-box title="Products" color="bg-blue" icon="ion-bag" quantity="{{ count.products }}" href="app.products.list"></small-box>
            <small-box title="Products Categories" color="bg-black" icon="ion-grid" quantity="{{ count.categories }}" href="app.products.list"></small-box>

          </div>
        </tab>
        <tab heading="Variables">
          <div class="row">
            <div class="col-md-6">
              <h4>Current user</h4>
              <pre>{{currentUser | json}}</pre>
            </div>
            <div class="col-md-6">
              <h4>Settings</h4>
              <pre>{{settings | json}}</pre>
            </div>
          </div>
        </tab>
        <tab heading="Theme">
          <div class="row">
            <div class="col-md-6">
              <h4>Theme
                <small>{{appTheme}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="theme in appThemes" ng-click="setTheme(theme.class)">
                  {{theme.name}}
                </button>
              </div>
              <h4>Layout
                <small>{{appLayout}}</small>
              </h4>
              <div class="btn-group" data-toggle="btn-toggle">
                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                        ng-repeat="layout in appLayouts" ng-click="setLayout(layout.class)">
                  {{layout.name}}
                </button>
              </div>
            </div>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</section>
