<header class="header">
    <a class="logo" href="/">{{ getSetting('appName') }}</a>
    <navbar></navbar>
</header>
<div>
    <div class="wrapper row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img gravatar-src-once="currentUser.email" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p><a href="" ui-sref="app.users.profile"> {{ 'Hello,' | translate }} {{currentUser.firstName || currentUser.profiles[0].profile.name.givenName}}</a></p>
                        <p><small><a href="" ui-sref="app.users.profile">{{ currentUser.email }}</a></small></p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li ng-repeat="item in menuoptions" ui-sref-active="active">
                        <a class="" href="" ui-sref="{{item.sref}}"><i class="fa fa-fw {{item.icon}}"></i> {{item.name | translate}}</a>
                    </li>
                </ul>
            </section>
        </aside>
        <aside ui-view class="right-side at-view-fade-in at-view-fade-out">

        </aside>
    </div>
</div>
