<div class="panel panel-default">
  <div class="panel-heading">
    <a href="" ui-sref="^.list" class="btn btn-xs btn-default"><i class="fa fa-arrow-left"></i></a>
    {{ctrl.note.title}}
    <span class="pull-right btn-group">
      <a href="" class="btn btn-xs btn-default" ui-sref="^.edit({id: ctrl.note.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-xs btn-danger" ui-sref="^.delete({id: ctrl.note.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>
  </div>
  <div class="panel-body">
    <pre>{{ctrl.note | json}}</pre>
  </div>
</div>
