<section class="content-header">
    <div class="pull-right">
    </div>
    <h1>
        Home
        <small>Welcome home, this is AngularJS!</small>
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <tabset class="nav-tabs-custom">
                <tab heading="Dashboard">
                    <div class="row">
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-red">
                                <div class="inner">
                                    <h3> {{count.posts}} &nbsp; </h3>

                                    <p> Posts </p>
                                </div>
                                <div class="icon"><i class="ion-document-text"></i></div>
                                <a href="#" ui-sref="app.posts.list" class="small-box-footer">
                                    More info <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-green">
                                <div class="inner">
                                    <h3>{{count.files}} &nbsp;</h3>

                                    <p>Files</p>
                                </div>
                                <div class="icon"><i class="ion ion-paperclip"></i></div>
                                <a href="#" ui-sref="app.files.list" class="small-box-footer">More info <i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-yellow">
                                <div class="inner">
                                    <h3>{{count.pages}} &nbsp; </h3>

                                    <p>Pages</p>
                                </div>
                                <div class="icon"><i class="ion ion-document"></i></div>
                                <a href="#" ui-sref="app.pages.list" class="small-box-footer">More info <i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-3 col-xs-6">
                            <div class="small-box bg-aqua">
                                <div class="inner">
                                    <h3>{{count.events}}</h3>

                                    <p>Events</p>
                                </div>
                                <div class="icon"><i class="ion ion-calendar"></i></div>
                                <a href="#" ui-sref="app.events.list" class="small-box-footer">More info <i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Variables">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Current user</h4>
                            <pre>{{currentUser | json}}</pre>
                        </div>
                        <div class="col-md-6">
                            <h4>Settings</h4>
                            <pre>{{settings | json}}</pre>
                        </div>
                    </div>
                </tab>
                <tab heading="Theme">
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Theme
                                <small>{{appTheme}}</small>
                            </h4>
                            <div class="btn-group" data-toggle="btn-toggle">
                                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                                        ng-repeat="theme in appThemes" ng-click="setTheme(theme.class)">
                                    {{theme.name}}
                                </button>
                            </div>
                            <h4>Layout
                                <small>{{appLayout}}</small>
                            </h4>
                            <div class="btn-group" data-toggle="btn-toggle">
                                <button type="button" class="btn btn-default btn-xs" data-toggle="on"
                                        ng-repeat="layout in appLayouts" ng-click="setLayout(layout.class)">
                                    {{layout.name}}
                                </button>
                            </div>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</section>
