

<div class='list-group'>
  <div ng-repeat="item in notes" class="list-group-item">

    <span class="pull-right btn-group" style="margin-top: 7px;">
      <a href="" class="btn btn-sm btn-default" ui-sref="^.edit({id: item.id})">
        <i class="fa fa-pencil"></i>
      </a>
      <a href="" class="btn btn-sm btn-default" ng-click="delete({id: item.id})">
        <i class="fa fa-trash-o"></i>
      </a>
    </span>

    <h4 class="list-group-item-heading">
      <a href="" ui-sref="^.view({id: item.id})">{{item.title}}</a>
    </h4>
    <p class="list-group-item-text">{{item.body}}</p>

  </div>

  <div ng-show="!notes.length" class="list-group-item">
    <h4 class="list-group-item-heading">
      There are no notes
    </h4>
    <p class="list-group-item-text">Click <a href="" ui-sref="^.add">here</a> to add one!</p>
  </div>

</div>
