<div class="row">
    <div class="col-md-6">
        <div class="box box-primary" ng-controller="SandboxToastsCtrl">
            <div class="box-header">
                <h3 class="box-title">Toasts</h3>
            </div>
            <div class="box-body">
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="toasty.title"/>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" ng-model="toasty.text"/>
                </div>
            </div>
            <div class="box-footer">
                <div class="controls">
                    <button class="btn btn-primary btn-success" ng-click="toast()">Notify</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 1</h3>
            </div>
            <div class="box-body">
                A basic message
                <pre>SweetAlert.swal("Here's a message");</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo1();">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 2</h3>
            </div>
            <div class="box-body">
                A title with a text under
                <pre>SweetAlert.swal("Here's a message!", "It's pretty, isn't it?");</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo2();">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 3</h3>
            </div>
            <div class="box-body">
                A success message!
                <pre>SweetAlert.swal("Good job!", "You clicked the button!", "success");</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo3();">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 4</h3>
            </div>
            <div class="box-body">
                A warning message, with a function attached to the "Confirm"-button
                <pre>SweetAlert.swal({<br>&nbsp;&nbsp;&nbsp;title: "Are you sure?",<br>&nbsp;&nbsp;&nbsp;text: "Your will not be able to recover this imaginary file!",<br>&nbsp;&nbsp;&nbsp;type: "warning",<br>&nbsp;&nbsp;&nbsp;showCancelButton: true,<br>&nbsp;&nbsp;&nbsp;confirmButtonColor: "#DD6B55",<br>&nbsp;&nbsp;&nbsp;confirmButtonText: "Yes, delete it!"<br>}, <br>function(){ <br>&nbsp;&nbsp;&nbsp;SweetAlert.swal("Booyah!");<br>});</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo4();">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 5</h3>
            </div>
            <div class="box-body">
                ... and by passing a parameter, you can execute something else for "Cancel".
                <pre>SweetAlert.swal({<br>&nbsp;&nbsp;&nbsp;title: "Are you sure?",<br>&nbsp;&nbsp;&nbsp;text: "Your will not be able to recover this imaginary file!",<br>&nbsp;&nbsp;&nbsp;type: "warning",<br>&nbsp;&nbsp;&nbsp;showCancelButton: true,<br>&nbsp;&nbsp;&nbsp;confirmButtonColor: "#DD6B55",confirmButtonText: "Yes, delete it!",<br>&nbsp;&nbsp;&nbsp;cancelButtonText: "No, cancel plx!",<br>&nbsp;&nbsp;&nbsp;closeOnConfirm: false,<br>&nbsp;&nbsp;&nbsp;closeOnCancel: false }, <br>function(isConfirm){ <br>&nbsp;&nbsp;&nbsp;if (isConfirm) {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SweetAlert.swal("Deleted!", "Your imaginary file has been deleted.", "success");<br>&nbsp;&nbsp;&nbsp;} else {<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SweetAlert.swal("Cancelled", "Your imaginary file is safe :)", "error");<br>&nbsp;&nbsp;&nbsp;}<br>});</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo5();">Try me!</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Alert demo 6</h3>
            </div>
            <div class="box-body">
                A message with a custom icon
                <pre>SweetAlert.swal({<br>&nbsp;&nbsp;&nbsp;title: "Sweet!",<br>&nbsp;&nbsp;&nbsp;text: "Here's a custom image.",<br>&nbsp;&nbsp;&nbsp;imageUrl: "http:://oitozero.com/avatar/avatar.jpg" });</pre>
            </div>
            <div class="box-footer">
                <a href class="btn btn-primary" ng-click="demo6();">Try me!</a>
            </div>
        </div>
    </div>
</div>

