<section admin-header class="content-header" title="Sandbox" sub-title="Throw your sand around here!"></section>
<section class="content">
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="item in items" ui-sref-active="active" >
                    <a href="" ui-sref="{{item.sref}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10">
            <div ui-view></div>
        </div>
    </div>
</section>
