<div class="row">
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <form id="demoForm"
                      sf-schema="ctrl.schema"
                      sf-form="ctrl.form"
                      sf-model="ctrl.model"
                      ng-submit="ctrl.onSubmit(demoForm)">
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title"></h3>
            </div>
            <div class="box-body">
                <pre>{{ctrl.model|json}}</pre>
            </div>
        </div>
    </div>
</div>

