<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Default Tree</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <span ng-if="doing_async">...loading...</span>
                        <abn-tree tree-data="my_data" tree-control="my_tree" on-select="my_tree_handler(branch)"
                                  expand-level="2" initial-selection="Granny Smith"></abn-tree>
                    </div>
                    <div class="col-md-6">

                        <p class="btn-group">
                            <button ng-click="try_changing_the_tree_data()" class="btn btn-default btn-sm">Change The
                                Tree Definition
                            </button>
                            <button ng-click="try_async_load()" class="btn btn-default btn-sm">Load Tree Data
                                Asynchronously
                            </button>
                        </p>

                        <p class="btn-group">
                            <button ng-click="my_tree.expand_branch()" class="btn btn-default btn-sm">Expand</button>
                            <button ng-click="my_tree.collapse_branch()" class="btn btn-default btn-sm">Collapse
                            </button>
                            <button ng-click="my_tree.expand_all()" class="btn btn-default btn-sm">Expand All</button>
                            <button ng-click="my_tree.collapse_all()" class="btn btn-default btn-sm">Collapse All
                            </button>
                        </p>


                        <p class="btn-group">
                            <button ng-click="my_tree.select_first_branch()" class="btn btn-default btn-sm">First Branch</button>
                            <button ng-click="try_adding_a_branch()" class="btn btn-default btn-sm">Add Branch</button>
                            <button ng-click="my_tree.select_parent_branch()" class="btn btn-default btn-sm">Parent</button>
                        </p>
                        <p class="btn-group">
                            <button ng-click="my_tree.select_next_sibling()" class="btn btn-default btn-sm">Next Sibling</button>
                            <button ng-click="my_tree.select_prev_sibling()" class="btn btn-default btn-sm">Prev Sibling</button>
                            <button ng-click="my_tree.select_next_branch()" class="btn btn-default btn-sm">Next Branch</button>
                            <button ng-click="my_tree.select_prev_branch()" class="btn btn-default btn-sm">Prev Branch</button>
                        </p>

                        <div class="alert alert-warning">{{ output }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>