<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <i class="{{module.icon}}"></i> {{module.title}}

      <div class="pull-right">
        <a [routerLink]="['add']" class="btn btn-sm btn-outline-success">Add</a>
      </div>

    </div>
    <div class="card-block">
      <table class="{{module.table.class}}">
        <thead>
        <tr>
          <th *ngFor="let column of module.table.columns">{{column.label}}</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of items ">
          <td *ngFor="let column of module.table.columns">
            <span *ngIf="!column.click && !column.link">
              {{item[column.field]}}
            </span>
            <span *ngIf="column.click">
              <a href="javascript:void(0)" (click)="column.click(item)">
                {{item[column.field]}}
              </a>
            </span>
            <span *ngIf="column.link">
              <a [routerLink]="[column.link, item.id]">
                {{item[column.field]}}
              </a>
            </span>
          </td>
          <td>
            <span *ngFor="let button of module.table.rowButtons">
              <button
                *ngIf="button.click"
                (click)="button.click(item)" class="{{button.class}}">
                <i class="{{button.icon}}"></i> {{button.label}}
              </button>
              <button
                *ngIf="button.link"
                [routerLink]="[item.id, button.link]" class="{{button.class}}">
                <i class="{{button.icon}}"></i> {{button.label}}
              </button>
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
