<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Posts
        </div>
        <div class="card-block">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
            <tr>
              <th>Title</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let post of posts | async">
              <td>{{post.title}}</td>
              <td>
                <button (click)="select(post)" class="btn btn-sm btn-outline-primary">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
                <button (click)="remove(post)" class="btn btn-sm btn-outline-danger">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card">
        <form (submit)="upsert()">
          <div class="card-header">
            <i class="fa fa-align-justify"></i>
            <span *ngIf="post.id">Edit</span>
            <span *ngIf="!post.id">Add</span>
            Post
          </div>
          <div class="card-block">
            <div class="form-group">
              <label for="postTitle">Title</label>
              <input type="text"
                     id="postTitle"
                     class="form-control"
                     name="postTitle"
                     [(ngModel)]="post.title"
                     placeholder="Title"/>
            </div>

            <div class="form-group">
              <label for="postContent">Content</label>
              <input type="text"
                     id="postContent"
                     class="form-control"
                     name="postContent"
                     [(ngModel)]="post.content"
                     placeholder="Content"/>
            </div>

          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-outline-success">
              <i class="fa fa-dot-circle-o"></i>
              <span *ngIf="post.id">Update</span>
              <span *ngIf="!post.id">Add</span>
            </button>
            <button (click)="new()" *ngIf="post.id" class="btn btn-sm btn-outline-info">
              <i class="fa fa-crosshairs"></i>
              Cancel
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
