<div class="box">
  <div class="box-header">
    <h3 class="box-title">
      <a  ui-sref="^.list" class="btn btn-default" translate><i class="fa fa-arrow-left"></i> Users</a>
      {{user.username}}
    </h3>
  </div>
  <div class="box-body">
    <div>
      <h2>{{user.username}}
        <small>{{user.email}}</small>
      </h2>
      <h3 translate>Roles</h3>
      <ul>
        <li ng-repeat="role in user.roles">{{role.name}}</li>
      </ul>
      <h3 translate>Raw</h3>
      <pre>{{user|json}}</pre>
    </div>
  </div>
</div>



