<h4>
  <a href="" ui-sref="^.dashboard" class="btn btn-default"><i class="fa fa-arrow-left"></i></a>
  <span>AutoFields</span>
</h4>

<div class="row">
  <div class="col-sm-6">
    <form name="joinForm" ng-submit="join()">
      <auto:fields fields="schema" data="user" options="options"></auto:fields>
      <button type="submit" class="btn btn-default btn-lg btn-block" ng-class="{'btn-primary':joinForm.$valid}"
              tabindex="100">Join
      </button>
    </form>
  </div>
  <div class="col-sm-6">
    <h4>Bound Data</h4>
    <pre ng-bind="user | json"></pre>
    <h4>Demo Functions</h4>
    <button class="btn btn-default" ng-click="addField()">Add Field</button>
    <button class="btn btn-default" ng-click="toggleValidation()">Toggle Validation</button>
    <button class="btn btn-default" ng-click="togglePopovers()">Toggle Popovers</button>
    <button class="btn btn-default" ng-click="toggleHorizontal()">Toggle Horizontal</button>
  </div>
</div>
