<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Faker</h3>
      </div>
      <div class="box-body">
        <input type="number" ng-model="records"/>
        <input type="number" ng-model="counter"/>

        <div class="btn-grp">
          <a href="" ng-click="fakeUsers()" class="btn btn-default">Users</a>
          <a href="" ng-click="fakePosts()" class="btn btn-default">Posts</a>
          <a href="" ng-click="fakeEvents()" class="btn btn-default">Events</a>
          <a href="" ng-click="fakePages()" class="btn btn-default">Pages</a>
          <a href="" ng-click="fakeNotes()" class="btn btn-default">Notes</a>
        </div>

        <pre>{{faker|json}}</pre>

      </div>
    </div>
  </div>
</div>
