<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <h3 class="box-title">Icons</h3>
      </div>
      <div class="box-body">
        <input autofocus type="text" ng-model="filter" class="form-control" placeholder="Filter icons"/>

        <div ng-repeat="(iconLabel,iconSet) in iconSets">
          <h2>{{iconLabel}}</h2>

          <div class="row">

            <div class="col-sm-4 text-center" ng-repeat="icon in iconSet.icons | filter: filter"
                 style="padding-bottom: 10px;">
              <i class="{{iconSet.baseClass}} {{icon}}"></i>

              <div>{{icon}}</div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
